<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello word <%= user.prenom + " " + user.nom %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia perferendis earum ab quam? Veritatis praesentium dicta, cum tempore sit, numquam impedit sunt sapiente, dignissimos eius eos quas repudiandae voluptatum et.</p>

</body>
</html>
